@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --heroImage: url('../Assets/Photos/futuristic-bg.png');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

.nav-hero {
    background-image: var(--heroImage);
    background-position: center;
    background-repeat: repeat-x repeat-y;
    height: 900px;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

}

nav img {
    height: 50px;
    cursor: pointer;
}

.leftNav {
    display: flex;
    gap: 50px;
    position: relative;
    left: -200px;
}

.leftNav p {
    font-size: 14px;
}

.leftNav p:hover {
    cursor: pointer;
    color: #DF3A11;
    text-shadow: 10px 10px 60px rgba(223, 58, 17, 1);
}

.rightNav {
    display: flex;
    gap: 2px;
}

.rightNav button {
    font-size: 15px;
    color: #ffffff;
    background-color: transparent;
    border: 4px solid transparent;
    padding: 8px 25px;
    /* font-weight: 500; */
}

.rightNav button:nth-child(2) {
    background-color: #F4694C;
}

.rightNav button:hover {
    background-color: #DF3A11;
}


.heroSection {
    height: 800;
    /* padding-top: 100px; */
    display: flex;
    /* justify-content: space-around; */

}

.leftHero {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    top: 150px;
    left: 190px;
}

.leftHero h1 {
    font-size: 55px;
    width: 48%;
}

.leftHero h1 span {
    text-shadow: 0px 0px 50px #ffffff;
}

.leftHero p {
    color: #918D8D;
    width: 40%;
}

.leftHeroButtons {
    display: flex;
    gap: 20px;
}

.leftHero button {
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
    padding: 13px 40px;
    font-weight: 500;
}

.leftHero button:nth-child(1) {
    background-color: #F4694C;
    border: 2px solid #F4694C;
}
.leftHero button:nth-child(2) {
    border: 2px solid #ffffff;
}

.leftHero button:hover {
    background-color: #DF3A11;
    border: 2px solid #DF3A11;
}

.rightHero {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    top: 230px;
    right: 250px;
    gap: 100px;
}

.playButton {
    height: 150px;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    transition: filter 0.3s;
}

.playButton:hover {
    filter: drop-shadow(0px 0px 20px #ffffff);
    cursor:wait;
}

.rightHeroBottom {
    display: flex;
    justify-content:space-evenly;
    gap: 10px;
    position: relative;
    left: 20px;
}

.playHeadLine {
    font-size: 25px;
    font-weight: 400;
    width: 45%;
    text-shadow: 0px 0px 50px #ffffff;
}

.rightHeroBottom .dash {
    width:50px;
    height: 50px;
    position: relative;
    top: -10px;
}

.rightHeroBottom .arrow {
    width:50px;
    height: 50px;
    position: relative;
    top: 90px;
    left: -10px;
}

.warGames {
    background-color: #ffffff;
}
